.header {
    background: url(../img/background-tree.png);
    background-size: cover;
    padding: 0;
    font-family: "Officina Serif";
    font-size: 16px;
    // width: 261px;
  
    .container-fluid {
      padding: 0;
    }
  
    .content {
      width: 100%;
    }
  
    .logo__slogan,
    .information,
    .back__call {
      width: 40%;
      text-align: center;
      color: #ffffff;
      font-size: 15px;
      margin: 25px auto 78px auto;
      text-transform: uppercase;
    }
  
    .information,
    .back__call {
      width: 70%;
    }
  
    .back__call {
      text-decoration: none;
    }

    .phone {
      font-size: 20px;
      text-decoration: none;
      color: #ffffff;
    }
  
    .office__hours {
      font-family: "Roboto-Regular";
      padding-top: 5px;
      font-size: 12px;
    }
  
    .menu {
      li {
        margin: 14px 0;
      }
  
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
      }
  
      a:hover {
        color: #ebebeb;
      }
    }
  
    .navbar {
      margin-bottom: 112px;
    }
  
    .navbar-brand {
      display: block;
      text-align: center;
      margin: 0;
  
      img {
        margin-top: 20px;
        width: 160px;
        color: white;
      }
    }
  
    @media (max-width: 1400px) and (min-width: 992px) {
      .back__call, .information {
        width: 100%;
      }
      .logo__slogan {
        width: 70%;
      }
      .navbar-brand {
        display: block;
        text-align: center;
  
        img {
          width: 80%;
        }
      }
    }
  
    @media (max-width: 992px) {
     
      .logo__slogan,
      .information,
      .back__call {
        display: none;
      }

      .navbar-toggler[aria-expanded="true"] {

        $white: #ffffff;
        $navbar-color: rgba($white, .95);
        $navbar-dark-color: rgba($white, .2);
      
        .navbar-toggler-icon{
          // color: #ffffff !important;
          background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$navbar-color}' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z'/></svg>");
      }
    }
  
      .container-fluid {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        button {
          border: none;
        }
      }
  
      .navbar {
        margin: 0;
        text-align: center;
  
        .menu {
          width: 100%;
          padding: 0px;
        }
      }
  
      .navbar-brand {
        display: inline-block;
        text-align: start;
  
        img {
          margin: 5px 10px;
          width: 60px;
        }
      }
    }
  }