.flickity-page-dots {
    bottom: -7px;
  }

  .flickity-page-dots .dot {
    height: 1px;
    width: 132px;
    margin-right: 33px;
    border-radius: 0;
    background: transparent;
    
  }

  .flickity-page-dots .dot.is-selected{
    background: #006022;
    
  }
  .carousel {
    margin-bottom: 40px;
  }

  .carousel-mini {
    width: 750px;
    .carousel-cell {
      width: 20%;
      margin-right: 25px;
    }
  }

  .carousel-main {
    width: 750px;
    .carousel-cell {
      width: 100%;
      margin: 0;
    }
  }

  .carousel-video {
    width: 540px;
    .carousel-cell {
      width: 100%;
      margin-right: 10px;
      border-radius: 5px;
      counter-increment: carousel-cell;
    }
    .static-banner {
      position: absolute;
      // background: hsla(0, 0%, 0%, 0.3);
      z-index: 1;
      padding: 2px 20px;
      font-size: 16px;
      color: white;
      pointer-events: none;
    }
    
    .static-banner1 {
      // vertical-align: middle;
      right: 40%;
      top: 45%;
    }
    
    .static-banner2 {
      left: 0px;
      bottom: 10px;
    }
    
  }

  .flickity-button {
    background: transparent;
  }

  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }

  .flickity-button-icon {
    fill: #006022;
  }