.flickity-page-dots {
    bottom: -7px;
  }

  .flickity-page-dots .dot {
    height: 1px;
    width: 132px;
    margin-right: 33px;
    border-radius: 0;
    background: transparent;
    
  }

  .flickity-page-dots .dot.is-selected{
    background: #006022;
    
  }
  .carousel {
    margin-bottom: 40px;
  }

  .carousel-mini {
    width: 750px;
    .carousel-cell {
      width: 20%;
      margin-right: 25px;
    }
  }

  .carousel-main {
    width: 750px;
    .carousel-cell {
      width: 100%;
      margin: 0;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
  }

  

  .flickity-button {
    background: transparent;
  }

  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }

  .flickity-button-icon {
    fill: #006022;
  }